
main {
  max-width: 1000px;
  background-color: rgb(168, 192, 218);
}

.watchList {
  background-color: rgb(223, 254, 255);
  width: 300px;
  position: fixed;
  right: 0px;
  top: 100px
}

.searchList {
  margin: 10px;
  background-color: rgb(231, 229, 255);
  max-width: 300px;
  height: 600px;
  float: left;

}
