<head>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Muli&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <div class="search-panel">
            <app-search-criteria (onSearch)="search($event)"></app-search-criteria>
        </div>
    </section>

    <section class="movie-panel">
        <div class="movie-box" *ngFor="let movie of movieSearch">
            <div class="movie-img">
                <img src="https://image.tmdb.org/t/p/w200{{ movie.poster_path}}" alt="">
            </div>

            <div class="movie-info">
                <div class="movie-title">
                    <p>{{ movie.title }}</p>
                </div>
                    
                <div class="movie-release">
                    <p>{{ movie.release_date | date: shortDate }}</p>
                </div>

                <div class="movie-overview">
                    <p>{{ movie.overview }}</p>
                </div>

                <button class="add-watch" (click)="addToWatchlist(movie.title)">Add to Watchlist</button>
            </div>
        </div>
    </section>    
</body>