.movie-panel {
    width: 100%;
    margin-left: 10%;
    font-family: 'IBM Plex Mono', monospace;
    position: relative;
    margin-top: 20px;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
}

.movie-box {
    margin-bottom: 20px;
    margin-right: 50px;
    /* border: 2px solid  #D8D8D8;
    border-radius: 5px; */
    width: 40%;
    height: 300px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    align-items: flex-start;

}

.movie-title {
    font-family: inherit;
    font-size: 12pt;
    font-weight: 700;
}

.movie-release {
    font-family: inherit;
    font-size: 10pt;
    font-weight: 200;
}

.movie-overview {
    font-family: 'Muli', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
    font-size: 12pt;
    line-height: 1rem;
    max-height: 5rem;
}

.movie-img {
    float: left;
}

img {
    max-width: 185px;
    max-height: 278px;
    min-width: 185px;
    min-height: 278px;
}

.add-watch {
    width: 150px;
    height: 35px;
    font-family: 'Muli', sans-serif;
    font-size: 10pt;
    background-color: #008475;
    color: #D8D8D8;
    border-radius: 15px;
    margin-top: 30px;
}
